@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

body {
   background-color: rgb(0, 0, 0);
   color: white;
   background-image: url('imagens/foto-pizza-1.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 100%;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
   padding: 15px 15px 15px 15px;
   background-color: rgba(27, 25, 25, 0.869);
   min-height: 150px;
}

h1 {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 16px;
}

h2 {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: larger;
   font-weight: lighter;
   margin-top: 7px;
}

main {
   background-color: rgba(70, 70, 70, 0.828);
   width: 100%;
   min-width: 300px;
   max-width: 850px;
   margin: auto;
}

form {
   padding: 40px 40px 40px 40px;
   text-align: center;
}

label.etiqueta {
   display: inline-block;
   width: 100%;
   min-width: 300px;
   max-width: 700px;
   text-align: left;
   margin-top: 15px;
   font-size: 1.2em;
}

input.resposta {
   display: inline-block;
   padding: 10px 10px 10px 10px;
   width: 100%;
   min-width: 300px;
   max-width: 700px;
   border-radius: 8px;
   border: 2px solid black;
   font-size: 1.1em;
}