@media screen and (min-width: 250px) and (max-width: 992px) {

    .container2 {
        width: 100vw;
        background-image: url('imagens/paisagem-montanha.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .conteudo {
        color: white;
    }

    .container3 {
        display: none;
    }
}