@charset 'UTF-8';
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
                /* Início header*/
header{
    padding: 5px;
    background-image: linear-gradient(to bottom, #3DDA84, #225538);
    box-shadow: 7px 10px 1px black;
}

h1{
    text-align: center;
    color: white;
    padding-top: 30px;
    text-shadow: 1px 1px 1px black;
}

p#p-header{
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    text-shadow: 1px 1px 1px black;
}

nav{
    padding-bottom: 7px;
}

nav > a{
    margin-left: 15px;
    color: white;
    text-decoration: none;
}
                /*Fim header*/

                /*Início main content*/
main{
    background-color: rgb(132, 225, 173);
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 20px;
}

div{
    background-color: white;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.281);
}

h2{
    padding-top: 15px;
    padding-left: 15px;
    font-family: 'idroid', sans-serif;
    color: rgb(49, 109, 76);
}

p{
    padding: 20px 12px 15px 12px;
    text-align: justify;
    text-indent: 20px;
}

strong{
    color: #80A590;
}

section.content{
    background-color: white;
    width: 100%;
 } 

h3.titulo{
    margin-left: 15px;
    padding-left: 10px;
    font-family: 'idroid', sans-serif;
    color: rgb(58, 118, 85);
    background-image: linear-gradient(to right, #D9F2E4, #FEFFFE);
}

img.block{
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
 div#div-video{
    background-color: #1A5C38;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
 }

 section > h4{
    background-color: #2FA866;
    padding: 10px;
    color: white;
    border-radius: 20px 20px 0px 0px;
 }

 article#extras{
    background-color: #C5EBD6;
    border-radius: 0px 0px 20px 20px;
 }

section#pos-video{
    background-color: white;
    padding: 20px 20px 0px 20px;
    box-shadow: 4px 1px 20px 1px rgba(0, 0, 0, 0.281);
}

ul{
    padding: 10px 12px 15px 25px;
}

p#ultimo-p{
    padding: 0px;
    padding: 15px 10px 25px 10px;
}

                /*Fim main*/
                /*Início footer*/
footer{
    background-color: #1A5C38;
    height: 50px;
}

footer > p{
    color: white;
    text-align: center;
}
                /*Fim footer*/