@charset 'UTF-8';

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    height: 100vh;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

iframe{
    height: 60vh;
    width: 45vw;

}

ul{
    float: right;
}

img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 10px 10px 0px 0px;
}

img:hover{
    border: 2px solid white;
}


