@charset "UTF-8";

/* Todas as outras mídias */

/* Typical Devices Breakpoints 2022 by w3schools.com

    Telas muito pequenas: até 600px (Celulares)
    Telas pequenas: 600px até 768px (Celulares)
    Telas médias: 768px até 992px (Tablets)
    Telas grandes: 992px até 1200px (Desktops)
    Telas muito grandes: mais que 1200px (Tvs)

*/

@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#smartphone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablets */
    body {
        background-image: url('../imagens/back-tablet.jpg');
    }

    img#smartphone {display: none;}
    img#tablet {display: block;}
    img#impressora {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}

}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktops */
    body {
        background-image: url('../imagens/back-pc.jpg');
    }
    img#smartphone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url('../imagens/back-tv.jpg');
    }
    img#smartphone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}