@charset "UTF-8";

/*
    Todas as outras mídias

    Typical Device Breakpoints 2022 by w3schools.com

    Telas muito pequenas: até 600px (celulares)
    Telas pequenas: 600px até 768px (Celulares)
    Telas médias: 768px até 992px (Tablets)
    Telas grandes: 992px até 1200px (Desktops)
    Telas muito grandes: mais que 1200px (Tvs)
*/

@media screen and (min-width: 600px) and (max-width: 1200px) {
        span#burguer {
            display: none;
        }

        header > nav > ul {
            display: block;
        }

        header > nav > ul > a {
            display: inline-block;
            list-style-type: none;
            border: none;
            padding: 15px;
        } 
}

@media  screen and (min-width: 1200px) {
        span#burguer {
            display: none;
        }

        header > nav > ul {
            display: block;
        }

        header > nav > ul > a {
            display: inline-block;
            list-style-type: none;
            border: none;
            padding: 15px;
        }
}
